
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');




main {
    width: 90%;
    margin:auto;
    border-radius: 12px;
    padding: 100px 0px 0px 0px;
    flex:100%;
  }

body {
  background: #E9E7DA;
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.storybody{
  margin: 0vw 5vw 0vw 5vw;
}

.h2{
  text-align: center;
}
.three-col { 
    display: flex;

}
.three-col aside {
  background: rgba(0, 0, 0, 0.44);
  flex: 20%;
  border-radius: 1px;
  margin: 10px;
  padding: 10px;


}
.three-col article { 
    flex: 98%;
  margin:0vw 10vw 0vw 10vw;
    background: #F5F4EC;
}

.inventory{
  margin: 10px;
  padding: 10px;
  flex: 20%;
  background: rgba(0, 0, 0, 0.44);
}

.pageimg{
width: 100%;
}

  
section#mapland {
    width: 3000px;
    height: 3000px;
    margin: auto;
    overflow: scroll;
    position: relative;
  }
#map {
    width: 100%;
    cursor: move;
    position: absolute;
  }
  
#center {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid red;
  }
  #mapbuttonmountain{
    width:27vw;
}
  #mapbuttonforest{
      width:23vw;
  }
  #mapbuttonsea{
      width:20vw;
  }
 #mapbuttonfield{
        width:29vw;
  }
.field {
    display: flex;
    position: absolute;
    top: 23%;
    left: 23%;
    border: 1px solid purple;
  }

  .forest {
    display:flex;
    position: absolute;
    top: 56%;
    left: 9%;
    border: 1px solid purple;
  }
  .mountain {
    display: flex;
    position: absolute;
    top: 12%;
    left: 60%;
    border: 1px solid purple;
  }
  .sea {
    display: flex;
    position: absolute;
    top: 72%;
    left: 60%;
    border: 1px solid purple;
  }

a {
    z-index: 2;
  }

  p:not(.one) {
    display: none;
  }

  br {
    margin-bottom: 10px;
  }


  
  .button {
    display: inline-block;
    background-color: aquamarine;
    color: darkcyan;
    text-decoration: none;
    margin: 20px;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid darkcyan;
  }
  .button:hover {
    background-color: darkcyan;
    color: aquamarine;
    text-decoration: none;
    border: 1px solid aquamarine;
  }
