@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Slab:wght@200;800&display=swap');

main {
    width: 80%;
    margin:auto;
    border-radius: 12px;
    padding: 100px 0px 0px 0px;
    flex:100%;
  }
.aboutpage main{
    background-image: url('images/map.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.aboutpage article {
  background-color: grey;
  color: white;
  flex: 80%;
  padding: 20px;
  margin: auto;
  position:relative;

}
body {
  background: #E9E7DA;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
}
.death {
  margin: 0vw 5vw 0vw 5vw;
}
.deathbutton {
  text-align: center;
  display: inline-block;
  background-color: rgb(122, 12, 0);
    color: white;
    text-decoration:none;
margin-top: 5vw;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid white;
}
.storybody{
  border: 8px solid white;
  margin: 12px;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;

}
h1{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
}
.three-col { 
    display: flex;
    flex-direction: row;
    margin: auto ;

}
.three-col aside {
  background: rgba(0, 0, 0, 0.44);
  flex: 10%;
  color: white;
  border-radius: 1px;
  margin: 10px;
  padding: 10px;
 display:flex;
 flex-direction: column;
}

.three-col article { 
  flex: 80%;
  position: relative;
}


.inventory{
  flex: auto;
  background: rgba(0, 0, 0, 0.44);
  color: white;
  flex:auto;
  flex-direction:column;
  margin: 50px;
  padding: 10px;
  position:relative;
  float: right;
}

.pageimg{
width: 100%;
}

  
section#mapland {
    width: 3000px;
    height: 3000px;
    margin: auto;
    overflow: scroll;
    position: relative;
  }
#map {
    width: 100%;
    cursor: move;
    position: absolute;
  }
  
#center {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
    
  }
  #mapbuttonmountain{
    width:27vw;
}
  #mapbuttonforest{
      width:23vw;
  }
  #mapbuttonsea{
      width:20vw;
  }
 #mapbuttonfield{
        width:29vw;
  }
  .field:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
     }
.field {
    display: flex;
    position: absolute;
    top: 19%;
    left: 15%;
    
  }
  .forest:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
     }
  .forest {
    display:flex;
    position:absolute;
    top: 56%;
    left: 9%;
  }
  .mountain:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
     }
  .mountain {
    display: flex;
    position: absolute;
    top: 10%;
    left: 57%;
    
  }
  .sea:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
     }
  .sea {
    display: flex;
    position: absolute;
    top: 69%;
    left: 60%;
   
  }

a {
    z-index: 2;
  }



  br {
    margin-bottom: 10px;
  }


  
  .button {
    display:grid;
    background-color: grey;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
    margin: 20px;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid black;
    
  }
  .button:hover {
    text-align: center;
    background-color: darkcyan;
    color: aquamarine;
    text-decoration: none;
    border: 1px solid aquamarine;
  }


  div div:not(.one) {
    display: none;
  }
